<!DOCTYPE html>
<html>
<head>
	<title>Admin Profile</title>
</head>
<body>
	<h1>profile</h1>
	<a href="/upadte">Update Profile</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a href="/logout">logout</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="/adminpanel">Admin Panel</a>
	
	<table border="1">
		<tr>
			<td>FULL NAME</td>
			<td><%= fullname %></td>
		</tr>
		<tr>
			<td>USERNAME</td>
			<td><%= username %></td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td><%= password %></td>
		</tr>
		<tr>
			<td>Mobile No</td>
			<td><%= mobile %></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td><%= gender %></td>
		</tr>

	</table>


</body>
</html>